In [2]:
import pandas as pd
import json

In [3]:
# Load the line sperated JSON into an Panada Data Frame

bronze_data = []

with open('bronze_data/records.jsonl', 'r', encoding='utf-8') as file:
    for line in file:
        strippedLine = line.strip()
        if strippedLine:
            bronze_data.append(json.loads(strippedLine))

bronze_df = pd.DataFrame(bronze_data)

bronze_df

,type,sourceName,sourceVersion,device,unit,creationDate,startDate,endDate,value
0,HKQuantityTypeIdentifierBodyMass,Withings,7010100,"<<HKDevice: 0x30068b9d0>, name:Body+, manufact...",kg,2025-01-01 10:09:48 -0600,2024-12-31 08:12:08 -0600,2024-12-31 08:12:08 -0600,73.473
1,HKQuantityTypeIdentifierBodyMass,Withings,7010100,"<<HKDevice: 0x30068b9d0>, name:Body+, manufact...",kg,2025-01-01 10:09:48 -0600,2025-01-01 10:09:12 -0600,2025-01-01 10:09:12 -0600,74.106
2,HKQuantityTypeIdentifierBodyMass,Withings,7010100,"<<HKDevice: 0x30068b9d0>, name:Body+, manufact...",kg,2025-01-01 12:38:05 -0600,2025-01-01 12:36:55 -0600,2025-01-01 12:36:55 -0600,73.707
3,HKQuantityTypeIdentifierBodyMass,Withings,7010100,"<<HKDevice: 0x30068b9d0>, name:Body+, manufact...",kg,2025-01-02 08:14:29 -0600,2025-01-02 08:13:12 -0600,2025-01-02 08:13:12 -0600,74.337
4,HKQuantityTypeIdentifierBodyMass,Withings,7010100,"<<HKDevice: 0x30068b9d0>, name:Body+, manufact...",kg,2025-01-03 07:34:06 -0600,2025-01-03 07:33:29 -0600,2025-01-03 07:33:29 -0600,74.293
...,...,...,...,...,...,...,...,...,...
46864,HKQuantityTypeIdentifierHeartRateVariabilitySDNN,Gurpreet’s Apple Watch,11.2,"<<HKDevice: 0x30067e8a0>, name:Apple Watch, ma...",ms,2025-04-24 15:55:38 -0600,2025-04-24 15:54:37 -0600,2025-04-24 15:55:37 -0600,35.9595
46865,HKQuantityTypeIdentifierHeartRateVariabilitySDNN,Gurpreet’s Apple Watch,11.2,"<<HKDevice: 0x30067e8a0>, name:Apple Watch, ma...",ms,2025-04-24 17:48:18 -0600,2025-04-24 17:47:17 -0600,2025-04-24 17:48:17 -0600,26.7845
46866,HKQuantityTypeIdentifierHeartRateVariabilitySDNN,Gurpreet’s Apple Watch,11.2,"<<HKDevice: 0x30067e8a0>, name:Apple Watch, ma...",ms,2025-04-24 19:53:06 -0600,2025-04-24 19:52:05 -0600,2025-04-24 19:53:05 -0600,38.6291
46867,HKQuantityTypeIdentifierHeartRateVariabilitySDNN,Gurpreet’s Apple Watch,11.2,"<<HKDevice: 0x30067e8a0>, name:Apple Watch, ma...",ms,2025-04-26 15:51:45 -0600,2025-04-26 15:50:44 -0600,2025-04-26 15:51:44 -0600,126.452
46868,HKQuantityTypeIdentifierHeartRateVariabilitySDNN,Gurpreet’s Apple Watch,11.2,"<<HKDevice: 0x30067e8a0>, name:Apple Watch, ma...",ms,2025-04-26 17:53:11 -0600,2025-04-26 17:52:10 -0600,2025-04-26 17:53:10 -0600,41.4064

In [4]:
# Since we only need type 'type', 'unit', 'creationDate' and 'value'
# and don't care about 'sourceName', 'sourceVersion', 'device', 'startDate' and 'endDate' columns we can remove them

bronze_df_v2 = bronze_df[['type', 'unit', 'creationDate', 'value']]
bronze_df_v2

,type,unit,creationDate,value
0,HKQuantityTypeIdentifierBodyMass,kg,2025-01-01 10:09:48 -0600,73.473
1,HKQuantityTypeIdentifierBodyMass,kg,2025-01-01 10:09:48 -0600,74.106
2,HKQuantityTypeIdentifierBodyMass,kg,2025-01-01 12:38:05 -0600,73.707
3,HKQuantityTypeIdentifierBodyMass,kg,2025-01-02 08:14:29 -0600,74.337
4,HKQuantityTypeIdentifierBodyMass,kg,2025-01-03 07:34:06 -0600,74.293
...,...,...,...,...
46864,HKQuantityTypeIdentifierHeartRateVariabilitySDNN,ms,2025-04-24 15:55:38 -0600,35.9595
46865,HKQuantityTypeIdentifierHeartRateVariabilitySDNN,ms,2025-04-24 17:48:18 -0600,26.7845
46866,HKQuantityTypeIdentifierHeartRateVariabilitySDNN,ms,2025-04-24 19:53:06 -0600,38.6291
46867,HKQuantityTypeIdentifierHeartRateVariabilitySDNN,ms,2025-04-26 15:51:45 -0600,126.452
46868,HKQuantityTypeIdentifierHeartRateVariabilitySDNN,ms,2025-04-26 17:53:11 -0600,41.4064

In [5]:
bronze_df_v2.iloc[0].unit

'kg'

In [6]:
types = bronze_df_v2['type'].unique()
types

array(['HKQuantityTypeIdentifierBodyMass',
       'HKQuantityTypeIdentifierHeartRate',
       'HKQuantityTypeIdentifierBodyFatPercentage',
       'HKQuantityTypeIdentifierLeanBodyMass',
       'HKQuantityTypeIdentifierRestingHeartRate',
       'HKQuantityTypeIdentifierWalkingHeartRateAverage',
       'HKQuantityTypeIdentifierHeartRateVariabilitySDNN'], dtype=object)

In [8]:
for data_type in types:
    data_type_df = bronze_df_v2[bronze_df_v2['type'] == data_type]

    # only keeping the data / removing redundant info
    data_type_df_v2 = data_type_df[['creationDate', 'value']]

    data_type_name = data_type.replace('HKQuantityTypeIdentifier', '')
    new_col_name = f'{data_type_name} in {data_type_df.iloc[0].unit}'

    data_type_df_v3 = data_type_df_v2.rename(columns={'value': new_col_name})
    data_type_df_v3.to_csv(f'silver_data/{data_type_name}.csv', sep=',', index=False)

    print(data_type_df_v3.head())
    print(data_type_df_v3.shape[0], 'rows')
    print()

                creationDate BodyMass in kg
0  2025-01-01 10:09:48 -0600         73.473
1  2025-01-01 10:09:48 -0600         74.106
2  2025-01-01 12:38:05 -0600         73.707
3  2025-01-02 08:14:29 -0600         74.337
4  2025-01-03 07:34:06 -0600         74.293
152 rows

                  creationDate HeartRate in count/min
152  2025-01-01 01:10:48 -0600                     65
153  2025-01-01 01:13:52 -0600                 75.451
154  2025-01-01 01:23:53 -0600                     74
155  2025-01-01 01:23:53 -0600                     73
156  2025-01-01 01:23:53 -0600                     72
45111 rows

                    creationDate BodyFatPercentage in %
45263  2025-01-01 10:09:48 -0600                0.24689
45264  2025-01-01 10:09:48 -0600                 0.2402
45265  2025-01-01 12:38:05 -0600                  0.259
45266  2025-01-02 08:14:29 -0600                0.24806
45267  2025-01-03 07:34:06 -0600                0.24175
119 rows

                    creationDate LeanBodyMass in kg
45382  2025-01-01 10:09:48 -0600             55.333
45383  2025-01-01 10:09:48 -0600             56.306
45384  2025-01-01 12:38:05 -0600             54.617
45385  2025-01-02 08:14:29 -0600             55.897
45386  2025-01-03 07:34:06 -0600             56.333
119 rows

                    creationDate RestingHeartRate in count/min
45501  2025-01-01 01:05:29 -0600                            76
45502  2025-01-02 10:49:27 -0600                            71
45503  2025-01-02 15:29:55 -0600                            64
45504  2025-01-04 21:55:21 -0600                            66
45505  2025-01-04 22:32:08 -0600                            72
112 rows

                    creationDate WalkingHeartRateAverage in count/min
45613  2025-01-01 01:05:29 -0600                                  116
45614  2025-01-02 10:49:28 -0600                                  100
45615  2025-01-02 16:47:10 -0600                                  107
45616  2025-01-04 21:55:21 -0600                                  101
45617  2025-01-04 22:14:21 -0600                                  122
114 rows

                    creationDate HeartRateVariabilitySDNN in ms
45727  2025-01-01 01:11:42 -0600                        73.4257
45728  2025-01-01 02:53:36 -0600                        101.574
45729  2025-01-01 06:53:35 -0600                        39.5502
45730  2025-01-01 08:53:33 -0600                        48.9004
45731  2025-01-01 10:56:48 -0600                        43.4647
1142 rows